body{
	width: 1000px;
	margin: 0px auto;
}

#video{
	display: block;
	margin: 0px auto;
	background-color: rgb(220,200,200);
	width: 700px;
	height: 500px;
}

#win{
	display: block;
	margin: 0px auto;
	border: 5px solid black;
}