<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Joystick
	script(src="js/jquery.js")
	script(src="js/main.js")
	link(rel="stylesheet", href="css/main.css")
body
	p
	.joystick
		.icone
	.joystick
		.icone
	.joystick
		.icone
